.wrapper{
  position: relative;
  width: 100%;
  height: 1138px;
  background: #FFFF;
  z-index: -2;
  /* border: 3px solid green; */
}
.bgSvg{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.logo{
  display: flex;
}
.logoText h3{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #FDA47A;
}
.logoText p{
  font-family: 'Nunito', sans-serif;
  font-size: 27px;
  line-height: 27px;
  color: #231E1E;
  padding-top: 0;
}
.navbar{
  top: 0;
  left: 0;
  margin-left: 120px;
  gap: 255px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  z-index: 100;
  padding-top: 50px;
}
.navbarListItem a{
  text-decoration: none;
  color: #231E1E;
}
.navbarList{
  list-style: none;
  display: flex;
  gap: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.imgContain{
  position: absolute;
  top: 20%;
  /* border: 3px solid red; */
  left: 33%;
  /* display: none; */
  width: 650px;
  z-index: 7;
}
.pageText{
  position: absolute;
  top: 22%;
  left: 120px;
  color: #282B30;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wrapperMobile{
  display: none;
}
@media screen and (max-width: 700px){
  .wrapper{
    width: 100%;
    height: 100%;
  }
  .navbar{
    display: none
  }
  .bgSvg{
    display: none;
  }
  .imgContain{
    display: none
  }
  .pageText{
    display: none
  }
  .logoText h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 25px;
    color: #FDA47A;
  }
  .logoText p{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 15px;
    font-weight: 700;
    color: #231E1E;
    padding-top: 0;
  }
  .logoMobile{
    display: flex;
    width: 90%;
    margin-top: 30px;
  }
  .navbarMobile{
    width: 90%;
    height: 50px;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    padding: 21px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    gap: 70%;
  }
  .wrapperMobile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
  }
  .page{
    width: 90%;
    /* border: 3px solid green; */

    position: relative;
    display: flex;
  }
  .pageTextMob{
    width: 45%;
    color: #282B30;
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .bgSvgMob{
    /* position: relative; */
    /* border: 3px solid green; */
    width: 55%;
  }
  .kelukelu{
    /* position: absolute; */
    /* right: 0; */
    /* border: 3px solid red; */
    
    width: 100%;
    max-width: 300px;
    height: 314px;
  }
};
  

